DATABASE_URL="postgresql://USER:PASSWORD@YOUR-RDS-ENDPOINT:5432/patchlib?schema=public"

AUDIO_BUCKET_NAME=patchlib-audio
AUDIO_AWS_REGION=us-east-1
AUDIO_AWS_ACCESS_KEY_ID=your-access-key-id
AUDIO_AWS_SECRET_ACCESS_KEY=your-secret-access-key
